data
.credentials
env.tfvars
terraform/env.*.tfvars
terraform/backend.conf
.terraform
.terraform.lock.hcl
terraform.tfstate

dbt/profiles.yml
dbt/.user.yml

.env
.env.dev
.env.prod
.env.sandbox

venv
notebook

logs

target

__pycache__
.vscode
.pytest_cache

